<h1>Welcome to the Healing Center communication site<h1>

<h3>Login to continue!</h3>

<form method="POST" action="/login">
Email: <input type="text" name="email">
Password: <input type="password" name="password">
<input type="submit" value="Submit">
</form>
<br />

<h2>To create an account click <a href="/users/signup">here</a></h2>