<h1>Welcome to the messageboard!</h1>
<h2>Click <a href="posts/new">here</a> to create a post.</h2>


<% if !@user_posts%>
<h2>You don't have any posts yet</h2>
<%else%>

<h2>Here are all of your post</h2>
 <ul>
 <% @user_posts.each do |post| %>
 <li><a href="posts/<%=post.id%>"><%= post.title %> </a></li>
 <% end %>
</ul>
<% end %>


<h2>Here is what everyone else has posted</h2>

<ul>

<% @not_user_posts.each do |post| %>
  <li><a href="posts/<%=post.id%>"><%= post.title %> </a></li>
 <% end %>
 </ul>