<h1>Tell everyone how your feeling today! Your encouraged to post prayers, a scripture 
thats on your heart, a testimonial or any words of encouragement!</h1>

<br />
<form method="post" action="/posts">
Topic:<input type="text" name="title">
<br />
Enter text here:<textarea name="body"></textarea>
<input type="submit" value="Submit">