<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<br />

<% if current_user.id == @post.user_id %>
<h2>Would you like to delete this post?</h2>
<form method="POST" action="/posts/<%= @post.id %>">
<input type="hidden" id="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>
<%end%>


<h3>Click <a href="/posts">here</a> to return to the messageboard.</h3>
<%if current_user.id == @post.user_id %>
<h4>Edit your post <a href="/posts/<%= @post.id %>/edit">here</a>.</h4>
<%end%>

